/* -------------primary Styles-------------- */
/* =============primary Font================ */
body{
    font-family: 'EB Garamond', serif;
}
a, p, li{
    font-family: 'Poppins', sans-serif;

}
/* ================primary Button========= */
.primary-btn{
    background: #B68C5A;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}


.banner-wrap{
    height: 550px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
}
.bg-color{
    background-color: rgba(0, 0, 0, 0.356);
    height: 100%;
    width: 100%;
}
.coursel-img{
    background-image: url(../images/slider-1.jpg);
}
.coursel-img-2{
    background-image: url(../images/slider-2.jpg);
    background-size: cover;
}
.coursel-img-3{
    background-image: url(../images/slider-3.jpg);
    background-size: cover;
}